{
	email {$ACME_EMAIL}
}

{$WEBSITE_HOST} {
	encode zstd gzip
	header {
		X-Robots-Tag "noindex, nofollow, noarchive"
		-Server
	}

	handle_path /uploads/* {
		header Cache-Control "public, max-age=31536000, immutable"
		root * /srv/uploads
		file_server
	}

	root * /srv/website/current
	try_files {path} {path}/index.html
	file_server
}

{$WEBAPP_HOST} {
	encode zstd gzip
	header {
		X-Robots-Tag "noindex, nofollow, noarchive"
		-Server
	}

	handle_path /uploads/* {
		header Cache-Control "public, max-age=31536000, immutable"
		root * /srv/uploads
		file_server
	}

	root * /srv/webapp
	try_files {path} /index.html
	file_server
}

{$API_HOST} {
	reverse_proxy api:3000
}
